UI_DEFAULT_EXTRACTOR_CHOICE = 'Features File'
WEB_FETCHER_HTTP_USE_PROXY = False
WEB_FETCHER_HTTP_PROXY_LIST = ['127.0.0.1:8080', '']
WEB_FETCHER_HTTP_USER_AGENT = 'Mozilla\\5.0 (Windows NT 6.1; WOW64; rv:26.0) Gecko\\20100101 Firefox\\26.0'
WEB_FETCHER_HTTP_ACCEPT = '*\\*'
WEB_FETCHER_HTTP_ACCEPT_LANGUAGE = 'fr,fr-fr;q=0.8,en-us;q=0.5,en;q=0.3'
WEB_FETCHER_HTTP_CONNECTION = 'Keep-alive'
UI_SEARCHERS_TUNING_SEPARATOR_CHAR = '***'
CONTROL_MANAGER_REQUEST_DELAY = 5
SEARCH_FILTER_DECIMAL_TRANSLATION_ENABLE = False
SEARCH_FILTER_MINIMUM_CONSTANT_DIGIT = 7
SEARCH_FILTER_MINIMUM_CONSTANT_ENTROPY = 2.1
SEARCH_FILTER_MINIMUM_STRING_LENGTH = 6
SEARCH_FILTER_MINIMUM_STRING_ENTROPY = 2
SEARCH_FILTER_MINIMUM_IMPORT_ENTROPY = 0.3
SEARCH_FILTER_FAST_SEARCH_ENABLE = True
SEARCH_FILTER_FAST_SEARCH_MINIMUM_FUNCTION_COUNT = 3
SEARCH_FILTER_FAST_SEARCH_MINIMUM_CONST_COUNT = 1
SEARCH_FILTER_FAST_SEARCH_MINIMUM_STRING_COUNT = 1
SEARCH_FILTER_WORD_DICTIONARY_FILE = 'C:\\Users\\RVX\\Downloads\\BINSRC\\BlackList.txt'
SEARCH_FILTER_PRESENT_IN_DICTIONARY_THRESHOLD = 33
IDA_PRO_TEXT_EXTRACTOR_EXTRACTED_FILE = 'extractedFeatures.xtrak'
IDA_PRO_TEXT_EXTRACTOR_EXTRACTION_PATH = 'C:\\Users\\RVX\\Downloads\\BINSRC\\Features\\'
REPORT_MANAGER_OUTPUT_REPORT_PATH = 'C:\\Users\\RVX\\Downloads\\BINSRC\\Offline\\'
REPORT_MANAGER_REPORT_LIST = 'Report.log'
UI_REPORT_FILES_PATHS = ['C:\\Users\\RVX\\Downloads\\BINSRC\\Offline\\']